@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    background-color: #F5F7FB;
    padding: 20px;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
        width: 45px;
        margin-right: 10px;
    }
    .title {
        flex: 2;
        font-weight: 500;
        font-size: 20px;
        color: #032A41;
    }
    .date {
        font-weight: 500;
        font-size: 15px;
        color: #7E93A0;
    }

}

.next-prediction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    background: #032A41;
    border-radius: 21px;

    .left {
        .title {
            font-weight: 300;
            font-size: 13px;
            color: #7999B3;
        }
        .price {
            font-weight: 300;
            font-size: 25px;
            color: #FFFFFF;
        }
        .pourcentage-container {
            display: flex;
            justify-content: flex-end;
            .pourcentage {
                font-weight: 500;
                font-size: 10px;
                color: #1CCB96;
            }
        }
    }

    .right {
        img {
            width: 100%;
        }
    }
}


.history {
    .title {
        font-weight: 600;
        font-size: 20px;
        padding-left: 20px;
        color: #032A41;
    }

    .selector {
        display: flex;
        justify-content: space-between;
        button {
            flex: 1;
            background-color: transparent;
            border: none;
            font-weight: 500;
            font-size: 12px;
            color: #A9AEB6;
            padding: 7px;
            
            &.active {
                background-color: #1CCB96;
                color: #FFFFFF;
                border-radius: 10px;
            }
        }
    }
}


.old-price-list {

    .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 10px 20px;
        .left {
            width: 50px;
            height: 50px;
            padding-right: 20px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .middle {
            flex: 2;
            .date {
                font-weight: 700;
                font-size: 17px;
                color: #03314B;
            }
            .pourcentage {
                font-weight: 700;
                font-size: 15px;
                color: #1DCC98;
            }
        }
        .right {
            .price {
                font-weight: 700;
                font-size: 17px;
                color: #03314B;
            }
        }
    }
}